<!-- <footer class="text-center text-lg-start" id="footer" style="background-color:#0C29AA">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <h6 style="color:#fff ;">© {{currDate}}:</h6>
      <h5 class=""style="color:white;">Made with ❤️ by RPS..!</h5>
      <div>
        <a href="https://www.linkedin.com/in/sunkara-raviteja-b16246157/" target="_blank">
        <i class="fa-brands fa-linkedin fa-2x" id="icon" style="color:white;"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100011085638444" target="_blank">
        <i class="fa-brands fa-facebook fa-2x" id="icon" style="color:white;"></i>
        </a>
        <a href="https://www.instagram.com/raviteja.sunkara_/" target="_blank">
        <i class="fa-brands fa-instagram fa-2x" id="icon" style="color:white"></i>
        </a>
        <a href="https://github.com/ravitejaasunkara" target="_blank">
          <i class="fa-brands fa-github fa-2x" id="icon" style="color:white;"></i>
        </a>
      </div>
    </div>
</footer> -->
<div class="text-center p-3" style="background-color: #EEE;">
  <h6 style="color:black ;">© {{currDate}}:</h6>
  <h5 class="" style="color:darkblue;">Made with ❤️ by RPS..!</h5>
  <div>
    <a href="https://www.linkedin.com/in/sunkara-raviteja-b16246157/" target="_blank" title="Linkedin">
    <i class="fa-brands fa-linkedin fa-2x" id="icon" style="color:black;"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100011085638444" target="_blank" title="Facebook">
    <i class="fa-brands fa-facebook fa-2x" id="icon" style="color:black;"></i>
    </a>
    <a href="https://www.instagram.com/raviteja.sunkara_/" target="_blank" title="Instagram">
    <i class="fa-brands fa-instagram fa-2x" id="icon" style="color:black"></i>
    </a>
    <a href="https://github.com/ravitejaasunkara" target="_blank" title="Github">
      <i class="fa-brands fa-github fa-2x" id="icon" style="color:black;"></i>
    </a>
  </div>
</div>