textarea{
    font-size: 20px;
}
.container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 85vh;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.alert{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 980px) {
    .container{
        width: 75%;
    }
    
}
@media only screen and (max-width: 844px){
	/*Big smartphones [426px -> 600px]*/
    .container{
        width: 60%;
        margin-top: 100px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container{
        width: 90%;
        height: 100%;
        margin-top: 100px;
    }
}