.container{
    margin-top: 30px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.form-holder{
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 100%;
}
h1{
    margin-top: 10px;
    background-color: grey;
    border-radius: 6px;
    color: white;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.ng-valid.ng-touched{
    border: 1px solid green;
}
.ng-invalid.ng-touched{
    border: 1px solid red;
}
a{
    text-decoration: none;
}
@media all and (max-width: 980px) {
    .container{
        width: 80%;
        height: 100vh;
    }
    
}
@media only screen and (max-width: 844px){
	/*Big smartphones [426px -> 600px]*/
    .container{
        width: 60%;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container{
        margin-top: 45px;
        width: 100%;
        height: 80vh;
    }
}

