.card {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 0px;
    overflow: hidden;
    user-select: none;
}
.card-body{
    padding: 30px;
}
.container {
    /* height: 70vh; */
    margin-top: 80px;
    /* margin-bottom: 30px; */
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 8px;
    /* overflow: scroll; */
}
.c1{
    background-color: #AEBDCA;
}
.c2{
    background-color: #F2D7D9;
}
.c3{
    background-color: #A7FFE4;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container{
        margin-top: 80px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 16px;
    }
}