.card {
    width: 100%;
    height: auto;
}

.container {
    height: 70vh;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 8px;
    /* overflow: scroll; */
}
.nodata{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.c1{
    background-color: #AEBDCA;
}
.c2{
    background-color: #F2D7D9;
}
.c3{
    background-color: #A7FFE4;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container{
        height: 100vh;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 16px;
    }
}