.card {
    width: 100%;
    height: auto;
}

.container {
    height: 70vh;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 8px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.nodata{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container{
        height: 100vh;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 16px;
    }
}