<div class="container">
    <h1 *ngIf="notesData.length>0">Your Notes</h1>
    <hr/>
    <div class="row">
        <div *ngIf="notesData.length == 0" class=" col-12 nodata">
            <h4>Looks like no notes saved, <a [routerLink]="['/add-notes']">try adding one of your notes here</a></h4>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2" *ngFor="let item of notesData;let i = index;">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <hr/>
                  <p class="card-text">{{item.body.slice(0,20)}}...</p>
                  <hr/>
                  <a [routerLink]="['/edit-notes',item.id]" class="btn btn-secondary btn-sm px-3">View/Edit <i class="fa-regular fa-pen-to-square"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>